<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: nav"></nav>

    <h1 th:text="${title}"></h1>

    <h3 th:if="${oops}" th:text="${oops}"></h3>
    <h3 th:if="${oops2}" th:text="${oops2}"></h3>

    <form method="post">
        <label>
            Cheese Name:
            <input type="text" name="cheese" />
        </label>

        <label>
            Description:
            <input id="box" type="text" name="info"/>
        </label>

        <input type="submit" value="Add Cheese :)" />
    </form>

</body>
</html>