<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container body-content">

    <nav th:replace="fragments :: nav"></nav>

    <h1 th:text="${title}"></h1>

    <h3 th:if="${oops}" th:text="${oops}"></h3>
    <h3 th:if="${oops2}" th:text="${oops2}"></h3>

    <form method="post" style="max-width:600px;">
        <div class="form-group">
            <label>
                Cheese Name:
                <input class="form-control" type="text" name="name" />
            </label>
        </div>

        <div class="form-group">
            <label>
                Description:
                <input class="form-control" id="box" type="text" name="info"/>
            </label>
        </div>

        <input type="submit" value="Add Cheese :)" />
    </form>

</body>
</html>